<h3>Iniciar Sessão</h3>

<form action="/admin" method="POST">

    <label for="username"><b>Nome de Utilizador</b></label>
    <input type="text" placeholder="Introduza o nome de utilizador" name="username">

    <label for="password"><b>Palavra-passe</b></label>
    <input type="password" placeholder="Introduza a Palavra-passe" name="password">

    <input type="submit" value="Iniciar Sessão" class="btn">

</form>

<h3>Efetuar Registo</h3>

<form action="/register" method="POST">

    <label for="username"><b>Nome de Utilizador</b></label>
    <input type="text" placeholder="Introduza o nome de utilizador" name="username">

    <label for="password"><b>Palavra-passe</b></label>
    <input type="password" placeholder="Introduza a Palavra-passe" name="password">

    <input type="submit" value="Efetuar Registo" class="btn">

</form>