<header class="header">
    <a href="/" class="header_logo">A Arte das Palavras - Administração</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Início</a>
            </li>
        </ul>
    </nav>
    <div class="header_button">
        <a href="/logout">
            <b>Sair</b>
        </a>
    </div>
</header>